body {
    background-color: lightblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#new task{

  padding: 10px;
  background-color: #4CAF50; /* Green */
  color: white;
  border: none;
  cursor: pointer;

}